<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .my_label{
            color:indianred;
            font-size: 20px
        }

        .my_secondlabel{
            color:blueviolet;
            font-size: 20px
        }
    </style>
    <meta charset="UTF-8">
    <title>Library Book Management System</title>
</head>
<body>
<h1>Welcome to my Library Book Management System</h1>
<form method="POST" action="/save">
    {% csrf_token %}
    <table>
        <tbody>
            <tr>
                <td><label class="my_label">Student name</label></td>
                <td><input type="text" name="student_name"></td>
            </tr>
            <tr>
                <td><label class="my_secondlabel">Student age</label></td>
                <td><input type="test" name="student_age"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" style="background:black; display:block; margin-top: 15px; margin-bottom: 15px; font-size: 20px; width: 100%; color: white">Save</button></td>
            </tr>
        </tbody>
    </table>
</form>

<a href="/shopping">shopping</a>
</body>
</html>